{% extends "material/base.html" %}
{% block content %}
<div class="showcase container cyan lighten-3">
    <div class="row">
        <div class="col s12 m18 offset-ml center">
            <h2>Species Predictor</h2>
            <a href="{{url_for('index')}}" class="btn btn-small white cyan-text waves-effect waves-dark right">Home</a>
        </div>
    </div>
</div>

<div class="showcase container grey lighten-3">
    <div class="row">
        <div class="col s12 m18 offset-ml center">
            <table>
                <tr>
                    <td><img src="static/images/iris_versicolor.jpg" width="300px" height="200px"></td>
                    <td><img src="static/images/iris_setosa.jpg" width="300px" height="200px"></td>
                    <td><img src="static/images/iris_virginica.jpg"width="300px" height="200px" ></td>
                </tr>
                <tr>
                    <td>Versicolor</td>
                    <td>Setosa</td>
                    <td>Verginica</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="container">
    {{ df_view.to_html(classes="table striped",na_rep="-") | safe}}

</div>







{% endblock %}


{% block scripts %}
{{ super() }}




{% endblock %}